name: Linter

on:
  push:
    branches-ignore:
      - master
      - main

jobs:
  sh-checker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run the sh-checker
        uses: reviewdog/action-shfmt@master


  shellcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run Shellcheck
      uses: ludeeus/action-shellcheck@master
      with:
        check_together: 'yes'
        severity: warning
      env:
        SHELLCHECK_OPTS: --external-sources

  markdown:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Run mdl
      uses: actionshub/markdownlint@main
      with:
        filesToIgnoreRegex: "CHANGELOG.md"

  misspell:
    name: runner / misspell
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@v4
      - name: misspell
        uses: reviewdog/action-misspell@v1.27.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          locale: "US"
