name: Tests

on:
  push:
    branches-ignore:
      - master
      - main

jobs:
   my_test:
     runs-on: ubuntu-latest
     name: Install Bats and bats libs
     steps:
       - name: Checkout
         uses: actions/checkout@v4
       - name: Setup Bats and bats libs
         uses: bats-core/bats-action@3.0.1
       - name: Run Bats tests
         run: bats -T -p tests
